In [2]:
#Import Numpy and Pandas and alias them to np and pd respectively.
import pandas as pd
import numpy as np

In [4]:
#Create a Pandas Series containing the elements of the list below.
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]
series = pd.Series(lst)

In [5]:
#Use indexing to return the third value in the Series above.
third_value = series[2]
third_value

74.4

In [6]:
#Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.
b = [
    [53.1, 95.0, 67.5, 35.0, 78.4],
    [61.3, 40.8, 30.8, 37.8, 87.6],
    [20.6, 73.2, 44.2, 14.6, 91.8],
    [57.4, 0.1, 96.1, 4.2, 69.5],
    [83.6, 20.5, 85.4, 22.8, 35.9],
    [49.0, 69.0, 0.1, 31.8, 89.1],
    [23.3, 40.7, 95.0, 83.8, 26.9],
    [27.6, 26.4, 53.8, 88.8, 68.5],
    [96.6, 96.4, 53.4, 72.4, 50.1],
    [73.7, 39.0, 43.2, 81.6, 34.7]
]
df = pd.DataFrame(b)

In [8]:
# Rename the data frame columns based on the names in the list below.
column_names = ['Score_1', 'Score_2', 'Score_3', 'Score_4', 'Score_5']
df.columns = column_names

In [9]:
#Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.
subset_df = df[['Score_1', 'Score_3', 'Score_5']]

In [10]:
#From the original data frame, calculate the average Score_3 value.
average_score_3 = df['Score_3'].mean()
average_score_3

56.95000000000001

In [11]:
#From the original data frame, calculate the maximum Score_4 value.
max_score_4 = df['Score_4'].max()
max_score_4

88.8

In [12]:
#Create a Pandas DataFrame from the dictionary of product orders below
orders = {
    'Description': [
        'LUNCH BAG APPLE DESIGN', 'SET OF 60 VINTAGE LEAF CAKE CASES ', 'RIBBON REEL STRIPES DESIGN ',
        'WORLD WAR 2 GLIDERS ASSTD DESIGNS', 'PLAYING CARDS JUBILEE UNION JACK', 'POPCORN HOLDER',
        'BOX OF VINTAGE ALPHABET BLOCKS', 'PARTY BUNTING', 'JAZZ HEARTS ADDRESS BOOK', 'SET OF 4 SANTA PLACE SETTINGS'
    ],
    'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
    'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
    'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]
}
orders_df = pd.DataFrame(orders)

In [13]:
#Calculate the total quantity ordered and revenue generated from these orders.
total_quantity = orders_df['Quantity'].sum()
total_revenue = orders_df['Revenue'].sum()
total_quantity, total_revenue

(2978, 637.0)

In [14]:
#Obtain the prices of the most expensive and least expensive items ordered and print the difference.
max_price = orders_df['UnitPrice'].max()
min_price = orders_df['UnitPrice'].min()
price_difference = max_price - min_price
price_difference

11.77

In [5]:
# Let's load another dataset for more exercises
import pandas as pd
import numpy as np
admissions = pd.read_csv("Admission_Predict.csv")
# Let's evaluate the dataset by looking at the head function.
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

In [6]:
missing_data = admissions.isnull().sum()
missing_data

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [7]:
admissions.set_index('Serial No.', inplace=True)
admissions.reset_index(inplace=False)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

In [8]:
unique_identifiers = admissions.duplicated(subset=['GRE Score', 'CGPA']).sum() == 0
unique_identifiers

True

In [9]:
cgpa_greater_9 = admissions[(admissions['CGPA'] > 9) & (admissions['Research'] == 1)]
num_rows_cgpa_greater_9 = cgpa_greater_9.shape[0]
num_rows_cgpa_greater_9

101

In [10]:
cgpa_sop_condition = admissions[(admissions['CGPA'] > 9) & (admissions['SOP'] < 3.5)]
mean_chance_admit = cgpa_sop_condition['Chance of Admit '].mean()
mean_chance_admit

0.8019999999999999